<a href="https://colab.research.google.com/github/Shubhamsahu51/Data-Mining/blob/main/MIT2020051_Lab_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read dataset

In [23]:
import numpy as np
import pandas as pd
import math as math
import matplotlib.pyplot as plt

mydata = pd.read_csv('/content/crop_production.csv')
mydata_cpy = mydata.copy()
#Transform crop production

df3=mydata_cpy.pivot_table(index=["State_Name","District_Name", "Season","Crop"], values={"Area","Production"},columns=["Crop_Year"])
df3=df3.swaplevel(0,1,axis=1).sort_index(axis=1)
df3

Crop_Year                                                                      1997  ...       2015
                                                                               Area  ... Production
State_Name                  District_Name Season      Crop                           ...
Andaman and Nicobar Islands NICOBARS      Autumn      Rice                      NaN  ...        NaN
                                                      Sugarcane                 NaN  ...        NaN
                                          Kharif      Arecanut                  NaN  ...        NaN
                                                      Other Kharif pulses       NaN  ...        NaN
                                                      Rice                      NaN  ...        NaN
...                                                                             ...  ...        ...
West Bengal                 PURULIA       Whole Year  Tobacco                   NaN  ...        NaN
                                                      Turmeric                216.0  ...        NaN
                                          Winter      Potato                    NaN  ...        NaN
                                                      Rice                 315095.0  ...        NaN
                                                      Sesamum                   NaN  ...        NaN

[33017 rows x 38 columns]

# Slice the transform dataset in two different dataframe

In [22]:
row,column = df3.shape
split = math.ceil(row/2)
print("Total rows in df3 = ", row)
data1 = df3.iloc[:split,:] 
data2= df3.iloc[split:,:]
print(" data1 Dimension : " ,data1.shape)
print(" data2 Dimension : ", data2.shape)

Total rows in df3 =  33017
 data1 Dimension :  (16509, 38)
 data2 Dimension :  (16508, 38)

# Find the count of NaN values attribute(feature) wise in both dataframes

In [14]:
#data1
for (columnName, columnData) in data1.iteritems(): 
    count_nan = data1[columnName].isna().sum()
    print('Feature : Count of NaN =>   ', columnName, ':', count_nan)

Feature : Count of NaN =>    (1997, 'Area') : 12544
Feature : Count of NaN =>    (1997, 'Production') : 12544
Feature : Count of NaN =>    (1998, 'Area') : 10999
Feature : Count of NaN =>    (1998, 'Production') : 11168
Feature : Count of NaN =>    (1999, 'Area') : 10301
Feature : Count of NaN =>    (1999, 'Production') : 10334
Feature : Count of NaN =>    (2000, 'Area') : 9422
Feature : Count of NaN =>    (2000, 'Production') : 9475
Feature : Count of NaN =>    (2001, 'Area') : 9243
Feature : Count of NaN =>    (2001, 'Production') : 9277
Feature : Count of NaN =>    (2002, 'Area') : 7685
Feature : Count of NaN =>    (2002, 'Production') : 7721
Feature : Count of NaN =>    (2003, 'Area') : 7456
Feature : Count of NaN =>    (2003, 'Production') : 7492
Feature : Count of NaN =>    (2004, 'Area') : 9150
Feature : Count of NaN =>    (2004, 'Production') : 9328
Feature : Count of NaN =>    (2005, 'Area') : 8782
Feature : Count of NaN =>    (2005, 'Production') : 8962
Feature : Count of NaN =>    (2006, 'Area') : 8819
Feature : Count of NaN =>    (2006, 'Production') : 9098
Feature : Count of NaN =>    (2007, 'Area') : 8535
Feature : Count of NaN =>    (2007, 'Production') : 8731
Feature : Count of NaN =>    (2008, 'Area') : 8705
Feature : Count of NaN =>    (2008, 'Production') : 8907
Feature : Count of NaN =>    (2009, 'Area') : 9166
Feature : Count of NaN =>    (2009, 'Production') : 9401
Feature : Count of NaN =>    (2010, 'Area') : 8428
Feature : Count of NaN =>    (2010, 'Production') : 8670
Feature : Count of NaN =>    (2011, 'Area') : 8439
Feature : Count of NaN =>    (2011, 'Production') : 8687
Feature : Count of NaN =>    (2012, 'Area') : 8288
Feature : Count of NaN =>    (2012, 'Production') : 8490
Feature : Count of NaN =>    (2013, 'Area') : 9123
Feature : Count of NaN =>    (2013, 'Production') : 9256
Feature : Count of NaN =>    (2014, 'Area') : 10856
Feature : Count of NaN =>    (2014, 'Production') : 10969
Feature : Count of NaN =>    (2015, 'Area') : 16509
Feature : Count of NaN =>    (2015, 'Production') : 16509

In [15]:
#data2 
for (columnName, columnData) in data2.iteritems(): 
    count_nan = data2[columnName].isna().sum()
    print('Feature : Count of NaN =>   ', columnName, ':', count_nan)

Feature : Count of NaN =>    (1997, 'Area') : 11574
Feature : Count of NaN =>    (1997, 'Production') : 11574
Feature : Count of NaN =>    (1998, 'Area') : 10485
Feature : Count of NaN =>    (1998, 'Production') : 10587
Feature : Count of NaN =>    (1999, 'Area') : 10201
Feature : Count of NaN =>    (1999, 'Production') : 10242
Feature : Count of NaN =>    (2000, 'Area') : 9937
Feature : Count of NaN =>    (2000, 'Production') : 9989
Feature : Count of NaN =>    (2001, 'Area') : 10413
Feature : Count of NaN =>    (2001, 'Production') : 10447
Feature : Count of NaN =>    (2002, 'Area') : 8661
Feature : Count of NaN =>    (2002, 'Production') : 8760
Feature : Count of NaN =>    (2003, 'Area') : 8274
Feature : Count of NaN =>    (2003, 'Production') : 8386
Feature : Count of NaN =>    (2004, 'Area') : 9750
Feature : Count of NaN =>    (2004, 'Production') : 9831
Feature : Count of NaN =>    (2005, 'Area') : 10436
Feature : Count of NaN =>    (2005, 'Production') : 10536
Feature : Count of NaN =>    (2006, 'Area') : 9870
Feature : Count of NaN =>    (2006, 'Production') : 9943
Feature : Count of NaN =>    (2007, 'Area') : 9956
Feature : Count of NaN =>    (2007, 'Production') : 10017
Feature : Count of NaN =>    (2008, 'Area') : 9762
Feature : Count of NaN =>    (2008, 'Production') : 9880
Feature : Count of NaN =>    (2009, 'Area') : 9735
Feature : Count of NaN =>    (2009, 'Production') : 9849
Feature : Count of NaN =>    (2010, 'Area') : 10524
Feature : Count of NaN =>    (2010, 'Production') : 10554
Feature : Count of NaN =>    (2011, 'Area') : 10507
Feature : Count of NaN =>    (2011, 'Production') : 10539
Feature : Count of NaN =>    (2012, 'Area') : 11319
Feature : Count of NaN =>    (2012, 'Production') : 11343
Feature : Count of NaN =>    (2013, 'Area') : 10244
Feature : Count of NaN =>    (2013, 'Production') : 10286
Feature : Count of NaN =>    (2014, 'Area') : 11188
Feature : Count of NaN =>    (2014, 'Production') : 11233
Feature : Count of NaN =>    (2015, 'Area') : 15946
Feature : Count of NaN =>    (2015, 'Production') : 15947

# Use ‘ffill’ to replace NaN values in data1

In [16]:
data1 = data1.fillna(method = 'ffill')

print("\nAfter the replacement of NAN values by 'ffill', count of NaN in each attribute of data1:\n\n",data1.isnull().sum())

After the replacement of NAN values by 'ffill', count of NaN in each attribute of data1:

 Crop_Year
1997       Area             86
           Production       86
1998       Area             86
           Production       86
1999       Area             87
           Production       87
2000       Area              2
           Production        2
2001       Area              2
           Production        2
2002       Area              4
           Production        4
2003       Area              4
           Production        4
2004       Area              4
           Production        4
2005       Area              4
           Production        4
2006       Area             15
           Production       15
2007       Area             86
           Production       86
2008       Area             86
           Production       86
2009       Area             86
           Production       86
2010       Area              0
           Production        0
2011       Area             86
           Production       86
2012       Area             85
           Production       85
2013       Area             85
           Production       85
2014       Area             86
           Production       86
2015       Area          16509
           Production    16509
dtype: int64

# Use ‘bfill’ to replace NaN values in data2

In [17]:
data2 = data2.fillna(method = 'bfill')
              
print("\nAfter the replacement of NAN values by 'bfill', count of NaN in each attribute of data2:\n\n",data2.isna().sum())

After the replacement of NAN values by 'bfill', count of NaN in each attribute of data2:

 Crop_Year
1997       Area             1
           Production       1
1998       Area             1
           Production       1
1999       Area             0
           Production       0
2000       Area             1
           Production       1
2001       Area             1
           Production       1
2002       Area             0
           Production       0
2003       Area             1
           Production       1
2004       Area             1
           Production       1
2005       Area             1
           Production       1
2006       Area             1
           Production       1
2007       Area             0
           Production       0
2008       Area             0
           Production       0
2009       Area             0
           Production       0
2010       Area             0
           Production       0
2011       Area             0
           Production       0
2012       Area             0
           Production       0
2013       Area             0
           Production       0
2014       Area             0
           Production       0
2015       Area          9670
           Production    9670
dtype: int64

# Find the mean value of every attribute and replace with NaN in data1

In [18]:
data1.mean()
data1.fillna(data1.mean())

Crop_Year                                                                          1997  ...       2015
                                                                                   Area  ... Production
State_Name                  District_Name Season      Crop                               ...
Andaman and Nicobar Islands NICOBARS      Autumn      Rice                 33206.432442  ...        NaN
                                                      Sugarcane            33206.432442  ...        NaN
                                          Kharif      Arecanut             33206.432442  ...        NaN
                                                      Other Kharif pulses  33206.432442  ...        NaN
                                                      Rice                 33206.432442  ...        NaN
...                                                                                 ...  ...        ...
Maharashtra                 LATUR         Kharif      Total foodgrain       3796.000000  ...        NaN
                                                      Urad                 74300.000000  ...        NaN
                                                      other oilseeds       74300.000000  ...        NaN
                                          Rabi        Gram                 74300.000000  ...        NaN
                                                      Jowar                30200.000000  ...        NaN

[16509 rows x 38 columns]

# Find the median value of every attribute and replace with NaN in data2

In [19]:

data2.median()
data2.fillna(data2.mean())

Crop_Year                                                               1997  ...         2015
                                                                        Area  ...   Production
State_Name  District_Name Season      Crop                                    ...
Maharashtra LATUR         Rabi        Linseed                    1100.000000  ...  1440.300000
                                      Maize                      1100.000000  ...  1440.300000
                                      Other  Rabi pulses          140.000000  ...  1440.300000
                                      Other Cereals & Millets   19700.000000  ...  1440.300000
                                      Rapeseed &Mustard         19700.000000  ...  1440.300000
...                                                                      ...  ...          ...
West Bengal PURULIA       Whole Year  Tobacco                     216.000000  ...  6668.275929
                                      Turmeric                    216.000000  ...  6668.275929
                          Winter      Potato                   315095.000000  ...  6668.275929
                                      Rice                     315095.000000  ...  6668.275929
                                      Sesamum                   25582.418671  ...  6668.275929

[16508 rows x 38 columns]

# Find correlation in data1, data2 and visualize it

In [11]:
data1.corr(method = 'pearson') 
data2.corr(method = 'kendall')

Crop_Year                 1997             ...      2015
                          Area Production  ...      Area Production
Crop_Year                                  ...
1997      Area        1.000000   0.720249  ...  0.235924   0.218253
          Production  0.720249   1.000000  ...  0.250735   0.243597
1998      Area        0.357854   0.292148  ...  0.149527   0.137210
          Production  0.309410   0.327193  ...  0.159804   0.182445
1999      Area        0.250063   0.204245  ... -0.109749  -0.111515
          Production  0.221183   0.241516  ... -0.129173  -0.127977
2000      Area        0.240815   0.220594  ... -0.056776  -0.048647
          Production  0.203205   0.243720  ... -0.031024  -0.024559
2001      Area        0.225156   0.201089  ... -0.031094  -0.029474
          Production  0.178563   0.202950  ...  0.014907   0.012774
2002      Area        0.201479   0.195219  ... -0.039539  -0.036806
          Production  0.166965   0.210994  ... -0.042126  -0.044993
2003      Area        0.216382   0.205088  ... -0.031510  -0.029683
          Production  0.184336   0.226821  ... -0.020837  -0.023916
2004      Area        0.219145   0.188113  ...  0.083883   0.077948
          Production  0.215336   0.219659  ...  0.113784   0.131719
2005      Area        0.222960   0.180225  ...  0.190888   0.176111
          Production  0.217327   0.210087  ...  0.202317   0.218318
2006      Area        0.214376   0.209991  ...  0.178264   0.163866
          Production  0.207267   0.229485  ...  0.195652   0.212396
2007      Area        0.224179   0.220026  ...  0.212096   0.200034
          Production  0.211492   0.236616  ...  0.218367   0.237645
2008      Area        0.183709   0.184432  ...  0.204487   0.192912
          Production  0.176962   0.207413  ...  0.209203   0.227620
2009      Area        0.172179   0.175765  ...  0.200972   0.187268
          Production  0.166501   0.190729  ...  0.202328   0.219631
2010      Area        0.187072   0.171577  ...  0.225692   0.204259
          Production  0.169241   0.169795  ...  0.238671   0.255295
2011      Area        0.169983   0.169624  ...  0.465162   0.444016
          Production  0.177667   0.198726  ...  0.548439   0.567191
2012      Area        0.139131   0.135726  ...  0.435182   0.416386
          Production  0.119541   0.136320  ...  0.441143   0.468278
2013      Area        0.168524   0.161359  ...  0.556711   0.527345
          Production  0.153931   0.172308  ...  0.551994   0.571327
2014      Area        0.172901   0.186098  ...  0.553116   0.526440
          Production  0.157349   0.182370  ...  0.538459   0.569792
2015      Area        0.235924   0.250735  ...  1.000000   0.884512
          Production  0.218253   0.243597  ...  0.884512   1.000000

[38 rows x 38 columns]

# Convert data1 into Min Max normalized format.

In [20]:
from sklearn import preprocessing      
min_max_scaler = preprocessing.MinMaxScaler()
data1[data1.columns.values] = min_max_scaler.fit_transform(data1[data1.columns.values])
data1

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:375: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:376: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

Crop_Year                                                                      1997  ...       2015
                                                                               Area  ... Production
State_Name                  District_Name Season      Crop                           ...
Andaman and Nicobar Islands NICOBARS      Autumn      Rice                      NaN  ...        NaN
                                                      Sugarcane                 NaN  ...        NaN
                                          Kharif      Arecanut                  NaN  ...        NaN
                                                      Other Kharif pulses       NaN  ...        NaN
                                                      Rice                      NaN  ...        NaN
...                                                                             ...  ...        ...
Maharashtra                 LATUR         Kharif      Total foodgrain      0.005831  ...        NaN
                                                      Urad                 0.114166  ...        NaN
                                                      other oilseeds       0.114166  ...        NaN
                                          Rabi        Gram                 0.114166  ...        NaN
                                                      Jowar                0.046403  ...        NaN

[16509 rows x 38 columns]

# Convert data2 into standardization format.

In [21]:

from sklearn.preprocessing import StandardScaler    
data2[data2.columns.values] = StandardScaler().fit_transform(data2[data2.columns.values])

data2

Crop_Year                                                          1997  ...       2015
                                                                   Area  ... Production
State_Name  District_Name Season      Crop                               ...
Maharashtra LATUR         Rabi        Linseed                 -0.154594  ...  -0.337157
                                      Maize                   -0.154594  ...  -0.337157
                                      Other  Rabi pulses      -0.160656  ...  -0.337157
                                      Other Cereals & Millets -0.037145  ...  -0.337157
                                      Rapeseed &Mustard       -0.037145  ...  -0.337157
...                                                                 ...  ...        ...
West Bengal PURULIA       Whole Year  Tobacco                 -0.160176  ...        NaN
                                      Turmeric                -0.160176  ...        NaN
                          Winter      Potato                   1.828129  ...        NaN
                                      Rice                     1.828129  ...        NaN
                                      Sesamum                       NaN  ...        NaN

[16508 rows x 38 columns]