<a href="https://colab.research.google.com/github/Shubhamsahu51/Data-Mining/blob/main/MIT2020051_Lab_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read dataset

In [55]:
import numpy as np
import pandas as pd
import math as math
import matplotlib.pyplot as plt

mydata = pd.read_csv('/content/crop_production.csv')
df = mydata.copy()

# Slice the transform dataset in two different dataframe

In [56]:
splitdata = math.ceil(50/100*246091) 

data1 = df.iloc[:splitdata,:] 
data2 = df.iloc[splitdata + 1:,:] 

print("data1 Dimension : " ,data1.shape)
print("data2 Dimension : ", data2.shape)

data1 Dimension :  (123046, 7)
data2 Dimension :  (123044, 7)

# Find the count of NaN values attribute(feature) wise in both dataframes

In [57]:
read = pd.DataFrame(data1, columns =['State_Name', 'District_Name','Crop_Year','Season','Crop','Area','Production'], )  
print("NAN values in each attribute of data1 :\n\n",read.isnull().sum()) 

read = pd.DataFrame(data2, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
print("\n\n\nNAN values in each attribute of data2:\n\n",read.isnull().sum())

NAN values in each attribute of data1 :

 State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       2494
dtype: int64



NAN values in each attribute of data2:

 State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1236
dtype: int64

# Use ‘ffill’ to replace NaN values in data1

In [58]:
data1 = data1.fillna(method = 'ffill')
read = pd.DataFrame(data1, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], )   
print("After ffill method NAN values in each attribute of data1:\n\n",read.isnull().sum())

After ffill method NAN values in each attribute of data1:

 State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

# Use ‘bfill’ to replace NaN values in data2

In [59]:
data2 = data2.fillna(method = 'bfill')

read = pd.DataFrame(data2, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
              
print("After ffill method NAN values in each attribute of data2:\n\n",read.isna().sum())

data1 = df.iloc[:splitdata,:] 
data2 = df.iloc[splitdata + 1:,:]

After ffill method NAN values in each attribute of data2:

 State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

# Find the mean value of every attribute and replace with NaN in data1

In [60]:
meandata1 = data1['Production'].mean();
print("Mean of attributes in data1 is :", meandata1)

read = pd.DataFrame(data1, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], )   
print("\n\nCount total NaN at each column in a DataFrame:\n\n",read.isnull().sum())

data1 = data1.fillna(meandata1)
print("\n\nAfter replacing NAN with mean\n\n")

read = pd.DataFrame(data1, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], )   
print(read.isnull().sum())

Mean of attributes in data1 is : 1005660.005019244


Count total NaN at each column in a DataFrame:

 State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       2494
dtype: int64


After replacing NAN with mean


State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

# Find the mean value of every attribute and replace with NaN in data2

In [61]:
meandata2 = data2['Production'].mean();
print("Mean of attributes in data2 is :", meandata2)

read = pd.DataFrame(data2, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], )   
print("\n\nCount total NaN at each column in a DataFrame:\n\n",read.isnull().sum())

data2 = data2.fillna(meandata2)
print("\n\nAfter replacing NAN with mean\n\n")

read = pd.DataFrame(data2, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], )   
print(read.isnull().sum())

Mean of attributes in data2 is : 163714.9311811209


Count total NaN at each column in a DataFrame:

 State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1236
dtype: int64


After replacing NAN with mean


State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

# Find correlation in data1, data2 and visualize it

In [62]:
data1 = df.iloc[:splitdata,:] 
data2 = df.iloc[splitdata + 1:,:]

print("\nCorrelation in data1, data2\n\n")
print(data1.corrwith(data2))

Correlation in data1, data2


Crop_Year    NaN
Area         NaN
Production   NaN
dtype: float64

# Convert data1 into Min Max normalized format.

In [63]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = pd.DataFrame(data1, columns =['Area','Production'], )
scaler.fit(X)
MinMaxScaler(copy=True, feature_range=(0, 1))

print("After Min Max normalization\n\n")
print(scaler.transform(X))

After Min Max normalization


[[1.42978175e-03 1.77777778e-06]
 [2.23481788e-06 8.88888889e-10]
 [1.16256138e-04 2.85333333e-07]
 ...
 [1.09460468e-06 8.88888889e-10]
 [9.07609710e-06 7.11111111e-09]
 [6.28302628e-02 4.03582222e-05]]

# Convert data2 into standardization format.

In [64]:
from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import StandardScaler

standardscaler = StandardScaler()
Y = pd.DataFrame(data1, columns =['Area','Production'], )

Y = standardscaler.fit_transform(Y)

print("After Standard normalization\n\n")
print(scaler.transform(Y))

After Standard normalization


[[-3.54578862e-07 -3.85463505e-11]
 [-3.99133966e-07 -3.86231237e-11]
 [-3.95575252e-07 -3.86108338e-11]
 ...
 [-3.99169553e-07 -3.86231237e-11]
 [-3.98920443e-07 -3.86228548e-11]
 [ 1.56178881e-06 -3.68794242e-11]]